<p id="notice"><%= notice %></p>

<p>
  <strong>物件名:</strong>
  <%= @property.property_name %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Address:</strong>
  <%= @property.address %>
</p>

<p>
  <strong>Age:</strong>
  <%= @property.age %>
</p>

<p>
  <strong>Note:</strong>
  <%= @property.note %>
</p>

<hr>
<% number = 0 %>
<% @property.nearest_stations.each do |nearest_station|%>
  <h2>最寄駅<%= number += 1 %></h2>
  <p>
    <strong>路線名:</strong>
    <%= nearest_station.line %>
  </p>
  <p>
    <strong>駅名:</strong>
    <%= nearest_station.station %>
  </p>
  <p>
    <strong>徒歩分数:</strong>
    <%= nearest_station.on_foot %>分
  </p>
<% end %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
